/* Existing title styles */
#title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: var(--color-primary);
}

/* New styles below */

/* Container for the slider */
.slick-slide img {
  width: auto;  /* Override global width */
  margin: auto; /* Center-align images */
}

/* Styles for the individual slides */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the images */
.slick-slide img {
  max-width: 60%;  /* This will scale down the images */
  height: auto;
  border: 3px solid var(--color-primary);  /* Add a border */
  border-radius: 10px;  /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* A bit of shadow */
}

/* Style the dots below the slider */
.slick-dots {
  bottom: -10px;
}
.slick-dots li button:before {
  color: var(--color-primary);
}

/* Explicitly Remove Slick's Default Arrows */
.slick-prev::before, .slick-next::before {
  content: '';
  font-family: 'slick';
  font-size: 0;  /* Set to 0 to effectively remove it */
}

/* New arrow styles */
.slick-prev, .slick-next {
  font-size: 24px !important;
  color: #333;
  z-index: 99;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  align-self: center;
  margin: 0;
}


.slick-prev {
  left: 40px !important;
  top: 50%;  /* Vertically center */
  transform: translateY(-50%);  /* Fine-tune vertical centering */
}

.slick-next {
  right: 40px !important;
  top: 50%;  /* Vertically center */
  transform: translateY(-50%);  /* Fine-tune vertical centering */
}

/* Pseudo-elements for custom arrow shapes */
.slick-prev::before, .slick-next::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.slick-prev::before {
  border-width: 10px 9px 25px 10px;
  border-color: transparent transparent transparent var(--color-primary);  /* Use theme color */
}

.slick-next::before {
  border-width: 10px 9px 25px 10px;
  border-color: transparent var(--color-primary) transparent transparent;  /* Use theme color */
}
